/* Here we've use the grid-template-areas, because the overall layout is static! Everything inside though, that's a different story
 */

#chat {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 15fr 1fr;
    grid-template-areas: "f c" "f i";
}

.friends {
    grid-area: f;
    display: grid;
    background-color: rgb(247, 0, 123);
}

#chatbox {
    grid-area: c;
    display: grid;
    background-color: gainsboro;
    /* grid-template-columns: 5fr 5fr;
    grid-template-rows: 3fr 3fr 3fr 3fr 3fr; */
    /* grid-template-columns: 100px 100px; */
    /* grid-template-columns: 1fr 1fr; */
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-areas: "l l" "l r" "r l" "l r" "r l";
}

#input {
    grid-area: i;
    display: grid;
    grid-template-columns: 20fr 4fr;
    grid-template-areas: "l r";
    grid-template-rows: 5fr 20fr;
}

.text-container {
    display: grid;
    grid-template-areas: "l r";
}

.time {
    grid-area: r;
}

.left {
    grid-template-areas: "l r";
    background-color: rgb(231 236 226);
    text-align: center;
    text-justify: center;
}

.right {
    grid-template-areas: "r l";
    background-color: rgb(115, 163, 66);
    text-align: center;
    text-justify: center;
}

#chat2 {
    display: grid block;
    height: 100vh;
    grid-template-rows: 1fr 15fr 1fr;
    grid-template-areas: "f c" "f i";
}

.text2-container {
    display: grid;
    grid-template-rows: 15fr 3fr;
    grid-template-columns: 10fr 10fr 10fr;
}

.header {
    grid-area: h;
    display: grid;
}

.GridBurger {
    display: inline-block;
}

.text {
    display: inline-block;
}

.content {
    display: grid;
    grid-template-rows: 8fr 5fr 10fr;
    grid-template-areas: "f c" "f i" "f l";
}

#chatbox2 {
    grid-area: c;
    display: grid;
    background-color: gainsboro;
    /* grid-template-columns: 5fr 5fr;
    grid-template-rows: 3fr 3fr 3fr 3fr 3fr; */
    /* grid-template-columns: 100px 100px; */
    /* grid-template-columns: 1fr 1fr; */
    grid-template-rows: 2fr 5fr 3fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-areas: "f l" "f r";
}