body{
    background-color: #ddd;
}

nav{
    background-color:  rgb(51, 51, 51);
}

.hero-image{
    width: 100%;
}

li:first-child {
    color: green;
  }

  #container{
      background-color: darkgrey;
  }

  .box{
      display: inline-block;
      width: 30px;
      height: 30px;
      box-shadow: black;
  }
  #first{
    background-color: green;
  }
  #second{
    background-color: red;
  }
  button{
      background-color: green;
  }