#parent{
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color: blue;
}

#chield1{
    position: absolute;
    width: 300px;
    height: 20px;
    top: 50px;
    background-color: red;
}
#chield2{
    position: absolute;
    height: 300px;
    width: 20px;
    left: 50px;
    background-color: red;
}