#container {
    height: 100vh;
    display: grid;
    text-align: center;
    font-family: 'Pacifico', cursive;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 10fr 2fr;
    grid-template-areas: "h h h" "g g g" "f s l"
}

#timer {
    grid-area: h;
    background-color: lightgreen;
    padding: 10px;
}

#game {
    grid-area: g;
    background-color: green;
    padding: 15%;
    font-size: 50px;
}

#level {
    grid-area: l;
    background-color: lightgreen;
    padding: 15%;
}

#start {
    grid-area: s;
    background-color: rgb(82, 184, 218);
    padding: 15%;
    cursor: pointer;
}

#frogs {
    grid-area: f;
    background-color: lightgreen;
    padding: 15%;
}

.frog {
    margin: 10px;
    display: inline-block;
    position: absolute;
}

.blink {
    animation: blinker 1s linear infinite;
    background-color: red;
}

.yellow {
    color: yellow;
}

.items {
    color: blanchedalmond;
}