.box {
    position: relative;
    background-color: #1abc9c;
    line-height: 20px;
    text-align: middle;
    width: 50px;
    height: 50px;
    padding: 20px;
    margin: 10px;
    left: 40%;
    top: 200px
}