#container {
    position: relative;
    background-color: rgb(248, 234, 213);
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
}

.person {
    display: inline-block;
    padding: 10px;
    width: 305px;
    background-color: #d2dadf;
    border: 1px solid #8bbee0;
    box-shadow: 2px 2px 7px #2c3e50;
    cursor: pointer;
    margin: 5px;
    font-size: 2vw;
    border-radius: 15px;
}