#container {
    width: calc(100%-100px);
    position: relative;
}

#sec1 {
    position: absolute;
    width: 90%;
    height: 50px;
    background-color: rgb(241, 166, 166);
}

#sec2 {
    position: absolute;
    width: 10%;
    height: 50px;
    background-color: red;
    right: 100px;
}

#container2 {
    width: calc(200px-100px);
    position: relative;
    background-color: rgb(241, 166, 166);
    top: 150px;
}

#sec3 {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(241, 166, 166);
    border: 2px solid black;
    left: 0px;
}

#sec4 {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(241, 166, 166);
    border: 2px solid black;
    left: 50px;
}

#sec5 {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(241, 166, 166);
    border: 2px solid black;
    left: 100px;
}